html {
  height: 100%;
  width: 100%;
 font-family: "Source Sans Pro", arial, sans-serif;
}
body {
	font-family: "Source Sans Pro", arial, sans-serif;
}


.team {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 40px;
}

 .team-col {
	flex-basis: 35%;
	border-radius: 20fr;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	margin-left: 60px;
	margin-right: 60px;
}

.team-col img {
	width: 100%;
	display: block; 
}

h3 {
	width: 100%;
	color: #000;
	font-size: 23px;
	font-weight: 50;

}

p {
	font-family: "Source Sans Pro";
	font-size: 16px;
	color:grey;
}

/* .layer:hover h3{
	bottom: 49%;
	opacity: 1;
}
 */
.row {
	margin-top: 5%;
	display: flex;
	justify-content: center;
}


/* .navbar {
		flex-direction: row;
		text-decoration: none;
}

a {
		text-decoration: none;
}

.mid {
		text-align: center;
}

.socials {
		height: 50px;
		width: auto;
		float: right;
}
 */
